---
layout: archive
---

<h1>:nerd_face: Hi!</h1>
After many years of developing iOS apps, I have decided to share some of my struggles to the world :earth_asia:.
<p></p>
I will try to always keep it short and capture fun topics with easy to follow guides.
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

<div class="grid__wrapper">
    {% for post in site.posts limit:4 %}
    {% if post.id == page.id %}
    {% continue %}
    {% endif %}
    {% include archive-single.html type="grid" %}
    {% endfor %}
</div>